@page
@model AboutUsModel
@{
    ViewData["Title"] = "За нас";
}
<h1>@ViewData["Title"]</h1>

<p>
    Parsons Puzzle App е уеб приложение, което предоставя възможност 
    на преподаватели и студенти да създават, споделят и решават пъзели с код. 
    Целта му е да улесни обучението по програмиране чрез интерактивни и ангажиращи задачи.
</p>
<p>
    Приложението е разработено с ASP.NET Core и използва Razor Pages за изграждане на потребителския интерфейс. 
    Този проект е все още в развитие и се разпространява с отворен код под Apache-2.0 лиценз.
</p>
<p>
    Ако имате въпроси или предложения, моля свържете се с нас на damianov@swu.bg или madzhov@swu.bg
</p>

